<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/application.css') }}">
    <script src="{{ url_for('static', filename='javascripts/application.js') }}"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="message">
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <main>
      {% block content %}
      <!-- Filled in by the `content` block from another template file -->
      {% endblock %}
    </main>
  </body>
</html>